<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <%= link_to 'Home', restaurants_path, class: 'btn btn-light' %>
  <%= link_to edit_restaurant_path(@restaurant), class: 'btn btn-light' do %>
    <i class="fas fa-pencil-alt"></i>
  <% end %>
  <%= link_to restaurant_path(@restaurant), method: :delete, class: 'btn btn-light', data: { confirm: "Are you sure you want to delete #{@restaurant.name}?" } do %>
    <i class="fas fa-trash"></i>
  <ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %> |
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
  <% end %>
</div>
